<div class="row pt-5">
  <div class="col-md-6 mx-auto">
<div class="card rounded-0">
  <div class="card-hearder">
    <h3 class="mb-0">Register</h3>
  </div>

  <div class="card-body">

    <form  class="form"  #registerForm="ngForm" (ngSubmit)="RegisterUser()">
      <div class="form-group">
        <label for="userId">User Name</label>
        <input type="text" [class.error-ctrl]="userIdCtrl.invalid && userIdCtrl.touched"  [(ngModel)]="user.userId" #userIdCtrl="ngModel" name="userId" id="userId" class="form-control rounded-0" required>
        <span class="help-block" *ngIf="userIdCtrl.invalid && userIdCtrl.touched">User Name is required</span>
      </div>
      <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" [class.error-ctrl]="firstNameCtrl.invalid && firstNameCtrl.touched"  [(ngModel)]="user.firstName" #firstNameCtrl="ngModel" name="firstName" id="firstName" class="form-control rounded-0" required>
          <span class="help-block" *ngIf="firstNameCtrl.invalid && firstNameCtrl.touched">First Name is required</span>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" [class.error-ctrl]="lastNameCtrl.invalid && lastNameCtrl.touched"   [(ngModel)]="user.lastName" #lastNameCtrl="ngModel" name="lastName"  id="lastName" class="form-control rounded-0" required>
            <span class="help-block" *ngIf="lastNameCtrl.invalid && lastNameCtrl.touched">Last Name is required</span>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" [class.error-ctrl]="passwordCtrl.invalid && passwordCtrl.touched"   [(ngModel)]="user.password" #passwordCtrl="ngModel" name="password" id="password" class="form-control rounded-0" required>
              <span class="help-block" *ngIf="passwordCtrl.invalid && passwordCtrl.touched">Password is required</span>
            </div>
           
            <button class="btn btn-primary float-right" type="submit" [disabled]="registerForm.invalid">Register</button>
    
    </form>
  <div style="display: none">
      Angular Auto generated form : {{registerForm.value | json}}
      Model driven form : {{user| json}}
  </div>  
  </div>
</div>
  </div>
</div>