
.music-card {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
.music-title{
    margin-bottom: 0.75rem;
}
.music-text:last-child{
    margin-bottom: 0;
}
.music-poster{
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.audio{
    text-align: center;
}
.favourite{
    font-size:60px;
    color:#dc3545;
}
.unfavourite{
    font-size:60px;
    color: black;
}