<div class="row">
        <div class="col-sm-6 pb-5" *ngFor="let item of playlists; let i = index;">
            <div class="card h-100">
               
                        <div class="music-card">
                                <img src="{{item.images[0].url}}" class="music-poster" alt="{{item.name}}">
                                <div class="music-card">
                                      <h5 class="music-title">{{item.name}} 
                                                 <i id="PlayListBtn_{{i}}" class="fa fa-heart pull-right" (click)="toggleFavourite(item)" 
                                                 [class.favourite]="item.isFavourite"
                                                 [class.unfavourite]="!item.isFavourite">  </i>
                                        </h5>
                                      <p class="music-text">{{item.description}}</p>
                                </div>
                            </div>
                </div>
        </div>
</div>
    
    